
<style>
    .mt-70 .btn {
        border-radius:20%;
        margin:20px;
    }
</style>
<div class="container d-flex justify-content-center" style="margin-top:30vh;margin-bottom:30vh;">
    <div class="mt-70">
        <a asp-action="UserRegister" asp-controller="Auth" class="btn btn-primary">
            Namizəd
        </a>

        <a asp-action="Company" class="btn btn-success ml-2">
            Şirkət
        </a>
    </div>
</div>
