<header class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class='d-flex' href='index.html'><img alt="işBox" src="~/frontend/assets/imgs/template/jobhub-logo.svg"></a></div>
            </div>
            <div class="header-nav">
                <nav class="nav-main-menu">
                    <ul class="main-menu">
                        <li><a class='active' href='index.html'>Əsas Səhifə</a>
                        <li><a class='active' href='index.html'>Əsas Səhifə</a>
                        <li><a class='active' href='index.html'>Əsas Səhifə</a>
                        <li>
                            <a class='active' href='index.html'>Əsas Səhifə</a>
                        </li>
                        <li class="dashboard"><a href="http://wp.alithemes.com/html/jobbox/demos/dashboard" target="_blank">İdarə Paneli</a></li>
                    </ul>
                </nav>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right">
                <div class="block-signin"><a class='text-link-bd-btom hover-up' href='page-register.html'>Qeydiyyat</a><a class='btn btn-default btn-shadow ml-40 hover-up' href='page-signin.html'>Daxil ol</a></div>
            </div>
        </div>
    </div>
</header>
