<ul class="main-menu">
    <li>
        <a class='dashboard2 active' href='profile.html'><img src="~/dashboard/assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
    </li>
    <li>
        <a class='dashboard2' href='my-resume.html'><img src="~/dashboard/assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
    </li>

</ul>