<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from jobbox-html.netlify.app/dashboard/profile by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jun 2024 08:56:34 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.html" crossorigin>
    <meta name="msapplication-config" content="browserconfig.html">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/dashboard/assets/imgs/template/favicon.svg">
    <link href="~/dashboard/assets/css/stylecd4e.css?version=4.1" rel="stylesheet">
    <title>Jobbox Profile - Job Portal HTML Template </title>
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="~/dashboard/assets/imgs/template/loading.gif" alt="jobBox"></div>
            </div>
        </div>
    </div>
    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo"><a class='d-flex' href='index.html'><img alt="jobBox" src="~/dashboard/assets/imgs/page/dashboard/logo.svg"></a></div><span class="btn btn-grey-small ml-10">Profile area</span>
                </div>
                <div class="header-search">
                    <div class="box-search">
                        <form action="#">
                            <input class="form-control input-search" type="text" name="keyword" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="header-menu d-none d-md-block">
                    <ul>
                        <li> <a asp-action="Index" asp-controller="Home"> Home </a></li>
                        <li> <a asp-action="Index" asp-controller="Home">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <form action="#">
                            <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            @await Html.PartialAsync("~/Views/PartialViews/_MenuPV.cshtml")
                        </nav>
                    </div>
                    <div class="mobile-account">
                        <h6 class="mb-10">Your Account</h6>
                        <ul class="mobile-menu font-heading">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Work Preferences</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#">Go Pro</a></li>
                            <li><a href="page-signin.html">Sign Out</a></li>
                        </ul>
                        <div class="mb-15 mt-15"> <a class='btn btn-default icon-edit hover-up' href='post-job.html'>Post Job</a></div>
                    </div>
                    <div class="site-copyright">Copyright 2022 &copy; JobBox. <br>Designed by AliThemes.</div>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="nav">
            <a class="btn btn-expanded"></a>
            <nav class="nav-main-menu">
                @await Html.PartialAsync("~/Views/PartialViews/_MenuPV.cshtml")
            </nav>
            <div class="border-bottom mb-20 mt-20"></div>
            <div class="box-profile-completed text-center mb-30">
                <div id="circle-staticstic-demo"></div>
                <h6 class="mb-10">Profile Completed</h6>
                <p class="font-xs color-text-mutted">Please add detailed information to your profile. This will help you develop your career more quickly.</p>
            </div>
            <div class="sidebar-border-bg mt-50">
                <span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
                <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
                <div class="mt-15"><a class="btn btn-paragraph-2" href="#">Know More</a></div>
            </div>
        </div>
       @RenderBody()
    </main>
    <script src="~/dashboard/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/dashboard/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/dashboard/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/dashboard/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/dashboard/assets/js/plugins/waypoints.js"></script>
    <script src="~/dashboard/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/dashboard/assets/js/plugins/select2.min.js"></script>
    <script src="~/dashboard/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/dashboard/assets/js/plugins/jquery.circliful.js"></script>
    <script src="~/dashboard/assets/js/main8c94.js?v=4.1"></script>
    @RenderSection("Js",false)
</body>

<!-- Mirrored from jobbox-html.netlify.app/dashboard/profile by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Jun 2024 08:56:35 GMT -->
</html>